body {
  text-align: center;
  background-color: #07b4bd;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #ffffff;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(188, 27, 27);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.control {
  color :coral;
  font-size: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  padding: 10px;
  margin: 0px 30px;
  border-radius: 15%;
  border: solid grey;
}
